<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |signting|}}
      <li class="list-group-item">
        {{signting.location}} - {{signting.signtedAt}}
      </li>
    {{/each}}
  </ul>
</div>
