<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |witness|}}
      <li class="list-group-item">
        {{witness.fullName}} - {{witness.email}}
      </li>
    {{/each}}
  </ul>
</div>
